<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>sorts</key>
	<array>
		<dict>
			<key>name</key>
			<string>Aircraft Changes</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>numAircraftChanges</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>Chngs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Aircraft Types</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Aircraft Type 700</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>aircraftType700Count</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>700s</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Aircraft Type 800</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>aircraftType800Count</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>800s</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Aircraft Type 8MAX</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>aircraftType8MaxCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>8Max</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Aircraft Type 7Max</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>aircraftType7MaxCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>7Max</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>AM/PM</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>AM then PM</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>amPM</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<false/>
					<key>abbreviation</key>
					<string>AM</string>
				</dict>
				<dict>
					<key>name</key>
					<string>PM then AM</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>amPM</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<false/>
					<key>abbreviation</key>
					<string>PM</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Block of Days Off</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>blockOfDaysOff</string>
			<key>ascending</key>
			<false/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>BlkOff</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Block Time</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>blockMinutes</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>BlkHrs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Cities</string>
			<key>types</key>
			<array>
				<dict>
					<key>abbreviation</key>
					<string>Overnight City</string>
					<key>name</key>
					<string>Overnight City</string>
					<key>category</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string></string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
				</dict>
				<dict>
					<key>abbreviation</key>
					<string>Legs Thru</string>
					<key>name</key>
					<string>Legs Thru</string>
					<key>category</key>
					<integer>1</integer>
					<key>type</key>
					<integer>1</integer>
					<key>keyPath</key>
					<string></string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
				</dict>
				<dict>
					<key>name</key>
					<string>NonConUS Legs</string>
					<key>category</key>
					<integer>1</integer>
					<key>type</key>
					<integer>7</integer>
					<key>keyPath</key>
					<string>nonConusLegsCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>NonConLegs</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Regional Overnight Cities</string>
					<key>types</key>
					<array>
						<dict>
							<key>name</key>
							<string>East Coast</string>
							<key>category</key>
							<integer>1</integer>
							<key>type</key>
							<integer>2</integer>
							<key>keyPath</key>
							<string></string>
							<key>ascending</key>
							<false/>
							<key>isMutable</key>
							<true/>
							<key>abbreviation</key>
							<string>EC</string>
						</dict>
						<dict>
							<key>name</key>
							<string>West Coast</string>
							<key>category</key>
							<integer>1</integer>
							<key>type</key>
							<integer>3</integer>
							<key>keyPath</key>
							<string></string>
							<key>ascending</key>
							<false/>
							<key>isMutable</key>
							<true/>
							<key>abbreviation</key>
							<string>WC</string>
						</dict>
						<dict>
							<key>name</key>
							<string>NonConUS</string>
							<key>category</key>
							<integer>1</integer>
							<key>type</key>
							<integer>5</integer>
							<key>keyPath</key>
							<string></string>
							<key>ascending</key>
							<false/>
							<key>isMutable</key>
							<true/>
							<key>abbreviation</key>
							<string>NonConUS</string>
						</dict>
						<dict>
							<key>name</key>
							<string>All Cities</string>
							<key>category</key>
							<integer>1</integer>
							<key>type</key>
							<integer>6</integer>
							<key>keyPath</key>
							<string></string>
							<key>ascending</key>
							<false/>
							<key>isMutable</key>
							<true/>
							<key>abbreviation</key>
							<string>AllC</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Hawaii</string>
							<key>category</key>
							<integer>1</integer>
							<key>type</key>
							<integer>8</integer>
							<key>keyPath</key>
							<string></string>
							<key>ascending</key>
							<false/>
							<key>isMutable</key>
							<true/>
							<key>abbreviation</key>
							<string>Hawaii</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Commuting</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Commuting-Manual</string>
					<key>category</key>
					<integer>4</integer>
					<key>keyPath</key>
					<string></string>
					<key>variables</key>
					<dict>
						<key>MON_THURS_DEPART</key>
						<integer>-1</integer>
						<key>MON_THURS_RETURN</key>
						<integer>3000</integer>
						<key>FRI_DEPART</key>
						<integer>-1</integer>
						<key>FRI_RETURN</key>
						<integer>3000</integer>
						<key>SAT_DEPART</key>
						<integer>-1</integer>
						<key>SAT_RETURN</key>
						<integer>3000</integer>
						<key>SUN_DEPART</key>
						<integer>-1</integer>
						<key>SUN_RETURN</key>
						<integer>3000</integer>
						<key>NoMidCheckState</key>
						<true/>
					</dict>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Commute</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Commuting - Auto</string>
					<key>category</key>
					<integer>9</integer>
					<key>keyPath</key>
					<string>commutabilityOverall</string>
					<key>variables</key>
					<dict>
						<key>MON_THURS_DEPART</key>
						<integer>-1</integer>
						<key>MON_THURS_RETURN</key>
						<integer>3000</integer>
						<key>FRI_DEPART</key>
						<integer>-1</integer>
						<key>FRI_RETURN</key>
						<integer>3000</integer>
						<key>SAT_DEPART</key>
						<integer>-1</integer>
						<key>SAT_RETURN</key>
						<integer>3000</integer>
						<key>SUN_DEPART</key>
						<integer>-1</integer>
						<key>SUN_RETURN</key>
						<integer>3000</integer>
					</dict>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>CmAuto</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Days of Week</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Weekends</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>weekendsCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Wknds</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sundays</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>sundaysCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Su</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Mondays</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>mondaysCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Mo</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Tuesdays</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>tuesdaysCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Tu</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Wednesdays</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>wednesdaysCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Wed</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Thursdays</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>thursdaysCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Th</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Fridays</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>fridaysCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Fr</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Saturdays</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>saturdaysCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Sa</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Days Off</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>daysOff</string>
			<key>ascending</key>
			<false/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>Off</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Days of the Month</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Days of the Month Off</string>
					<key>category</key>
					<integer>8</integer>
					<key>keyPath</key>
					<string></string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>OffSort</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Days I want to Work</string>
					<key>category</key>
					<integer>11</integer>
					<key>keyPath</key>
					<string></string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>WorkSort</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Days I Don&apos;t Want Trips to Start</string>
					<key>category</key>
					<integer>12</integer>
					<key>keyPath</key>
					<string></string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>TripStartSort</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Days of Reserve</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>reserveDays</string>
			<key>ascending</key>
			<false/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>reserveDays</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Deadheads</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Deadheads</string>
					<key>category</key>
					<integer>2</integer>
					<key>type</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>deadheadsCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>DHs</string>
				</dict>
				<dict>
					<key>name</key>
					<string>DH At Start</string>
					<key>category</key>
					<integer>2</integer>
					<key>type</key>
					<integer>1</integer>
					<key>keyPath</key>
					<string>deadheadsAtStartCount</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>DH Start</string>
				</dict>
				<dict>
					<key>name</key>
					<string>DH At End</string>
					<key>category</key>
					<integer>2</integer>
					<key>type</key>
					<integer>2</integer>
					<key>keyPath</key>
					<string>deadheadsAtEndCount</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>DH End</string>
				</dict>
				<dict>
					<key>name</key>
					<string>DH At Either</string>
					<key>category</key>
					<integer>2</integer>
					<key>type</key>
					<integer>3</integer>
					<key>keyPath</key>
					<string>deadheadsAtEitherCount</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>DH At Both</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Duty Time</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Duty Hours</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>dutyMinutes</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Dty</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Duty Hours Per Day</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>dutyHoursPerDay</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Dty/Day</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Earliest Departure</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>earliestDepartureTime</string>
			<key>ascending</key>
			<false/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>EDep</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ETOPS</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>isETOPS</string>
			<key>ascending</key>
			<false/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>eTops</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ETOPS Trips</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>etopsTripsCount</string>
			<key>ascending</key>
			<false/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>eTrips</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flags</string>
			<key>category</key>
			<integer>10</integer>
			<key>keyPath</key>
			<string>flagOrder</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>flag</string>
			<key>variables</key>
			<dict>
				<key>NO_COLOR_FLAG</key>
				<integer>0</integer>
				<key>GREEN_COLOR_FLAG</key>
				<integer>2</integer>
				<key>YELLOW_COLOR_FLAG</key>
				<integer>4</integer>
				<key>ORANGE_COLOR_FLAG</key>
				<integer>5</integer>
				<key>RED_COLOR_FLAG</key>
				<integer>3</integer>
				<key>BLUE_COLOR_FLAG</key>
				<integer>1</integer>
				<key>BROWN_COLOR_FLAG</key>
				<integer>6</integer>
				<key>PINK_COLOR_FLAG</key>
				<integer>7</integer>
			</dict>
			<key>arrayVariables</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>3</integer>
				<integer>1</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Ground Time</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Ground Time Average</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>gTavg</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Ground Time Average</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Ground Time Max</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>gTmax</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Ground Time Max</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Latest Arrival</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>latestArrivalTime</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>LArr</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Legs</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>numLegs</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>Legs</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Max Legs in a Day</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>maxLegsInADay</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>MLegs</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Overlap Days</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>overlapDaysCount</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>OLap</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Overnight Average</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>ovAvg</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>OvAvg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Overnights in Base</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>overnightsInBase</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>OIBs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Overnight Length</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Min O-Nite Length</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>minimumOvernightHours</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>minNite</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Max O-Nite Length</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>maximumOvernightHours</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>maxNite</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Passes through Base</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Passes through Base</string>
					<key>category</key>
					<integer>6</integer>
					<key>type</key>
					<integer>1</integer>
					<key>keyPath</key>
					<string>passesThruBase</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>PTBs</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Mid-Trip PTBs</string>
					<key>category</key>
					<integer>6</integer>
					<key>type</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>midTripPTBs</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>MidPTBs</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Pay</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Pay</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>pay</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Pay</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pay per Block Hour</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>payPerBlockHour</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Pay/Blk</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pay per Day</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>payPerDay</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Pay/Day</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pay per Duty Hour</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>payPerDutyTime</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Pay/Dty</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pay per Leg</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>payPerLeg</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Pay/Leg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pay per TAFB</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>payPerTAFB</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Pay/TAFB</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Carry Out Pay</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>carryOutPay</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>CoPay</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Line Rig</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>lineRig</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>linerig</string>
				</dict>
				<dict>
					<key>name</key>
					<string>rigADG</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>rigADG</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>rigADG</string>
				</dict>
				<dict>
					<key>name</key>
					<string>rigDHR</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>rigDHR</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>rigDHR</string>
				</dict>
				<dict>
					<key>name</key>
					<string>rigDPM</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>rigDPM</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>rigDPM</string>
				</dict>
				<dict>
					<key>name</key>
					<string>rigTHR</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>rigTHR</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>rigTHR</string>
				</dict>
				<dict>
					<key>name</key>
					<string>TripTfp</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>tripTfp</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>TripTfp</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pay+CO</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>payPlusCo</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Pay+CO</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Position</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Quick Add Positions A-B-C</string>
					<key>category</key>
					<integer>3</integer>
					<key>type</key>
					<integer>4</integer>
					<key>keyPath</key>
					<string></string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<false/>
					<key>abbreviation</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>Position A</string>
					<key>category</key>
					<integer>3</integer>
					<key>type</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string></string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<false/>
					<key>abbreviation</key>
					<string>A</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Position B</string>
					<key>category</key>
					<integer>3</integer>
					<key>type</key>
					<integer>1</integer>
					<key>keyPath</key>
					<string></string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<false/>
					<key>abbreviation</key>
					<string>B</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Position C</string>
					<key>category</key>
					<integer>3</integer>
					<key>type</key>
					<integer>2</integer>
					<key>keyPath</key>
					<string></string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<false/>
					<key>abbreviation</key>
					<string>C</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Red Eye Trips</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>redEyeTrips</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>RedEyeTrips</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TAFB</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>tafbMinutes</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>TAFB</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Trip Length</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Turns</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>turnsCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>Turns</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Two Day Trips</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>twoDayTripsCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>2Days</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Three Day Trips</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>threeDayTripsCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>3Days</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Four Day Trips</string>
					<key>category</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>fourDayTripsCount</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>4Days</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Trips</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>numTrips</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>Trips</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vac+LG</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>vTpLPay</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>TpL</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Work Days</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>workDays</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>Work</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WorkBlocks Count</string>
			<key>category</key>
			<integer>0</integer>
			<key>keyPath</key>
			<string>workBlockCount</string>
			<key>ascending</key>
			<true/>
			<key>isMutable</key>
			<true/>
			<key>abbreviation</key>
			<string>wrkBlkCount</string>
		</dict>
	</array>
</dict>
</plist>
