CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcuserdata/fayaz.xcuserdatad/UserInterfaceState.xcuserstate
CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcuserdata/fayaz.xcuserdatad/UserInterfaceState.xcuserstate
CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcuserdata/fayaz.xcuserdatad/UserInterfaceState.xcuserstate
CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcuserdata/fayaz.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcuserdata/fayaz.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcuserdata/fayaz.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
CrewBid iPad_Swift/.DS_Store
/CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcuserdata/fayaz.xcuserdatad
CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcuserdata/fayaz.xcuserdatad/UserInterfaceState.xcuserstate
CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcuserdata/fayaz.xcuserdatad/UserInterfaceState.xcuserstate
CrewBid iPad_Swift.xcodeproj/project.xcworkspace/xcuserdata/fayaz.xcuserdatad/UserInterfaceState.xcuserstate
