<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>rules</key>
	<array>
		<dict>
			<key>category</key>
			<integer>44</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>1 or 2 day off</string>
			<key>keyPath</key>
			<string>oneOrTwoDaysCount</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>10</string>
				<key>VALUE</key>
				<integer>1</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>1 or 2 day off</string>
		</dict>
		<dict>
			<key>category</key>
			<integer>6</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Aircraft Changes</string>
			<key>keyPath</key>
			<string>numAircraftChanges</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>15</string>
				<key>VALUE</key>
				<integer>1</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>Chngs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Aircraft Types</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>7</integer>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Aircraft Type 700</string>
					<key>keyPath</key>
					<string>aircraftType700Count</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>39</string>
						<key>VALUE</key>
						<integer>0</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>700s</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>7</integer>
					<key>type</key>
					<integer>3</integer>
					<key>name</key>
					<string>Aircraft Type 800</string>
					<key>keyPath</key>
					<string>aircraftType800Count</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>39</string>
						<key>VALUE</key>
						<integer>0</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>800s</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>7</integer>
					<key>type</key>
					<integer>5</integer>
					<key>name</key>
					<string>Aircraft Type 8MAX</string>
					<key>keyPath</key>
					<string>aircraftType8MaxCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>39</string>
						<key>VALUE</key>
						<integer>0</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>8Max</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>7</integer>
					<key>type</key>
					<integer>6</integer>
					<key>name</key>
					<string>Aircraft Type 7Max</string>
					<key>keyPath</key>
					<string>aircraftType7MaxCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>39</string>
						<key>VALUE</key>
						<integer>0</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>7Max</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<integer>8</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Block of Days Off</string>
			<key>keyPath</key>
			<string>blockOfDaysOff</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>1</string>
				<key>RANGEEND</key>
				<string>27</string>
				<key>VALUE</key>
				<integer>1</integer>
			</dict>
			<key>comparison</key>
			<integer>3</integer>
			<key>abbreviation</key>
			<string>BlkOff</string>
		</dict>
		<dict>
			<key>category</key>
			<integer>9</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Block Hours</string>
			<key>keyPath</key>
			<string>blockHours</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>90</string>
				<key>VALUE</key>
				<integer>70</integer>
			</dict>
			<key>comparison</key>
			<integer>3</integer>
			<key>abbreviation</key>
			<string>BlkHrs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Cities</string>
			<key>types</key>
			<array>
				<dict>
					<key>abbreviation</key>
					<string>OC</string>
					<key>category</key>
					<integer>10</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Overnight City</string>
					<key>keyPath</key>
					<string></string>
					<key>variables</key>
					<dict>
						<key>CITY</key>
						<string></string>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>abbreviation</key>
					<string>OCB</string>
					<key>category</key>
					<integer>34</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Overnight Cities-Bulk</string>
					<key>keyPath</key>
					<string></string>
					<key>variables</key>
					<dict>
						<key>VALUE</key>
						<string>1</string>
						<key>CITY</key>
						<string></string>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>category</key>
					<integer>10</integer>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Leg City</string>
					<key>keyPath</key>
					<string></string>
					<key>variables</key>
					<dict>
						<key>CITY</key>
						<string></string>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>LegCty</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>10</integer>
					<key>type</key>
					<integer>7</integer>
					<key>name</key>
					<string>NonConUS Legs</string>
					<key>keyPath</key>
					<string>nonConusLegsCount</string>
					<key>variables</key>
					<dict>
						<key>CITY</key>
						<string></string>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>20</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>NonConLegs</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Regional Overnight Cities</string>
					<key>types</key>
					<array>
						<dict>
							<key>category</key>
							<integer>10</integer>
							<key>type</key>
							<integer>2</integer>
							<key>name</key>
							<string>East Coast</string>
							<key>keyPath</key>
							<string></string>
							<key>variables</key>
							<dict>
								<key>CITY</key>
								<string></string>
								<key>RANGESTART</key>
								<string>0</string>
								<key>RANGEEND</key>
								<string>15</string>
								<key>VALUE</key>
								<integer>1</integer>
							</dict>
							<key>comparison</key>
							<integer>3</integer>
							<key>abbreviation</key>
							<string>EC</string>
						</dict>
						<dict>
							<key>category</key>
							<integer>10</integer>
							<key>type</key>
							<integer>3</integer>
							<key>name</key>
							<string>West Coast</string>
							<key>keyPath</key>
							<string></string>
							<key>variables</key>
							<dict>
								<key>CITY</key>
								<string></string>
								<key>RANGESTART</key>
								<string>0</string>
								<key>RANGEEND</key>
								<string>15</string>
								<key>VALUE</key>
								<integer>1</integer>
							</dict>
							<key>comparison</key>
							<integer>1</integer>
							<key>abbreviation</key>
							<string>WC</string>
						</dict>
						<dict>
							<key>category</key>
							<integer>10</integer>
							<key>type</key>
							<integer>5</integer>
							<key>name</key>
							<string>NonConUS</string>
							<key>keyPath</key>
							<string></string>
							<key>variables</key>
							<dict>
								<key>CITY</key>
								<string></string>
								<key>RANGESTART</key>
								<string>0</string>
								<key>RANGEEND</key>
								<string>15</string>
								<key>VALUE</key>
								<integer>1</integer>
							</dict>
							<key>comparison</key>
							<integer>1</integer>
							<key>abbreviation</key>
							<string>NonConUS</string>
						</dict>
						<dict>
							<key>category</key>
							<integer>10</integer>
							<key>type</key>
							<integer>6</integer>
							<key>name</key>
							<string>All Cities</string>
							<key>keyPath</key>
							<string></string>
							<key>variables</key>
							<dict>
								<key>CITY</key>
								<string></string>
								<key>RANGESTART</key>
								<string>0</string>
								<key>RANGEEND</key>
								<string>15</string>
								<key>VALUE</key>
								<integer>1</integer>
							</dict>
							<key>comparison</key>
							<integer>1</integer>
							<key>abbreviation</key>
							<string>AllC</string>
						</dict>
						<dict>
							<key>category</key>
							<integer>10</integer>
							<key>type</key>
							<integer>8</integer>
							<key>name</key>
							<string>Hawaii</string>
							<key>keyPath</key>
							<string></string>
							<key>variables</key>
							<dict>
								<key>CITY</key>
								<string></string>
								<key>RANGESTART</key>
								<string>0</string>
								<key>RANGEEND</key>
								<string>15</string>
								<key>VALUE</key>
								<integer>1</integer>
							</dict>
							<key>comparison</key>
							<integer>3</integer>
							<key>abbreviation</key>
							<string>Hawaii</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Commuting</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>12</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Commuting - Manual</string>
					<key>keyPath</key>
					<string></string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>10</string>
						<key>VALUE</key>
						<integer>0</integer>
						<key>MON_THURS_DEPART</key>
						<integer>-1</integer>
						<key>MON_THURS_RETURN</key>
						<integer>3000</integer>
						<key>FRI_DEPART</key>
						<integer>-1</integer>
						<key>FRI_RETURN</key>
						<integer>3000</integer>
						<key>SAT_DEPART</key>
						<integer>-1</integer>
						<key>SAT_RETURN</key>
						<integer>3000</integer>
						<key>SUN_DEPART</key>
						<integer>-1</integer>
						<key>SUN_RETURN</key>
						<integer>3000</integer>
						<key>NoMidCheckState</key>
						<true/>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>CRqd</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>33</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Commuting - Auto</string>
					<key>keyPath</key>
					<string></string>
					<key>variables</key>
					<dict>
						<key>nMid</key>
						<integer>0</integer>
						<key>cmts</key>
						<integer>0</integer>
						<key>cmtBa</key>
						<integer>0</integer>
						<key>cmtFr</key>
						<integer>0</integer>
						<key>cmtInFr</key>
						<integer>0</integer>
						<key>cmtInBa</key>
						<integer>0</integer>
						<key>cmtOv</key>
						<integer>0</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>CmAuto</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Days of the Month</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>13</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Days I Want Off</string>
					<key>keyPath</key>
					<string>nil</string>
					<key>variables</key>
					<dict>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>abbreviation</key>
					<string>MonthDays</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>13</integer>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Days I Want To Work</string>
					<key>keyPath</key>
					<string>nil</string>
					<key>variables</key>
					<dict>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>abbreviation</key>
					<string>WantDays</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>13</integer>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Days I Don&apos;t Want Trips To Start</string>
					<key>keyPath</key>
					<string>nil</string>
					<key>variables</key>
					<dict>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>abbreviation</key>
					<string>TripStarts</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>13</integer>
					<key>type</key>
					<integer>3</integer>
					<key>name</key>
					<string>Days I Don&apos;t Want Trips To End</string>
					<key>keyPath</key>
					<string>nil</string>
					<key>variables</key>
					<dict>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>abbreviation</key>
					<string>TripEnds</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<integer>14</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Days Off</string>
			<key>keyPath</key>
			<string>daysOff</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>5</string>
				<key>RANGEEND</key>
				<string>31</string>
				<key>VALUE</key>
				<integer>5</integer>
			</dict>
			<key>comparison</key>
			<integer>3</integer>
			<key>abbreviation</key>
			<string>Off</string>
		</dict>
		<dict>
			<key>category</key>
			<integer>45</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Days of Reserve</string>
			<key>keyPath</key>
			<string>reserveDays</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>1</string>
				<key>RANGEEND</key>
				<string>30</string>
				<key>VALUE</key>
				<integer>5</integer>
			</dict>
			<key>comparison</key>
			<integer>3</integer>
			<key>abbreviation</key>
			<string>reserveDays</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Days of Week</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Weekends</string>
					<key>keyPath</key>
					<string>weekendsCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>Wknds</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Sundays</string>
					<key>keyPath</key>
					<string>sundaysCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>Su</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>3</integer>
					<key>name</key>
					<string>Mondays</string>
					<key>keyPath</key>
					<string>mondaysCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>Mo</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>4</integer>
					<key>name</key>
					<string>Tuesdays</string>
					<key>keyPath</key>
					<string>tuesdaysCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>Tu</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>5</integer>
					<key>name</key>
					<string>Wednesdays</string>
					<key>keyPath</key>
					<string>wednesdaysCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>Wed</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>6</integer>
					<key>name</key>
					<string>Thursdays</string>
					<key>keyPath</key>
					<string>thursdaysCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>Th</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>7</integer>
					<key>name</key>
					<string>Fridays</string>
					<key>keyPath</key>
					<string>fridaysCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>Fr</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>8</integer>
					<key>name</key>
					<string>Saturdays</string>
					<key>keyPath</key>
					<string>saturdaysCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>Sa</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Deadheads</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>15</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Deadheads</string>
					<key>keyPath</key>
					<string>deadheadsCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>10</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>DHs</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>15</integer>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>DH At Start To</string>
					<key>keyPath</key>
					<string>deadheadsAtStartCount</string>
					<key>variables</key>
					<dict>
						<key>CITY</key>
						<string></string>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>10</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>DH Start</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>15</integer>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>DH At End From</string>
					<key>keyPath</key>
					<string>deadheadsAtEndCount</string>
					<key>variables</key>
					<dict>
						<key>CITY</key>
						<string></string>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>10</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>DH End</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>15</integer>
					<key>type</key>
					<integer>3</integer>
					<key>name</key>
					<string>DH At Either</string>
					<key>keyPath</key>
					<string>deadheadsAtEitherCount</string>
					<key>variables</key>
					<dict>
						<key>CITY</key>
						<string></string>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>10</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>DH Either</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Duty Time</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>16</integer>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Duty Hours</string>
					<key>keyPath</key>
					<string>dutyHours</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>125</string>
						<key>VALUE</key>
						<integer>100</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>DtyHrs</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>16</integer>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Duty Hours Per Day</string>
					<key>keyPath</key>
					<string>dutyHoursPerDay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>5.0</string>
						<key>RANGEEND</key>
						<string>10.0</string>
						<key>VALUE</key>
						<real>8</real>
						<key>STEP</key>
						<real>0.1</real>
						<key>DECIMAL</key>
						<true/>
						<key>NUMPLACES</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>Dty/Day</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<integer>32</integer>
			<key>type</key>
			<integer>0</integer>
			<key>name</key>
			<string>Flags</string>
			<key>keyPath</key>
			<string>nil</string>
			<key>variables</key>
			<dict>
				<key>VALUE</key>
				<integer>1</integer>
			</dict>
			<key>comparison</key>
			<integer>5</integer>
			<key>abbreviation</key>
			<string>Flags</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Ground Time</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>42</integer>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Ground Time Average</string>
					<key>keyPath</key>
					<string>gTavg</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>60</string>
						<key>RANGEEND</key>
						<string>360</string>
						<key>VALUE</key>
						<integer>90</integer>
						<key>STEP</key>
						<integer>15</integer>
						<key>DECIMAL</key>
						<true/>
						<key>NUMPLACES</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>Ground Time Average</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>41</integer>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Ground Time Max</string>
					<key>keyPath</key>
					<string>gTmax</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>60</string>
						<key>RANGEEND</key>
						<string>360</string>
						<key>VALUE</key>
						<integer>90</integer>
						<key>STEP</key>
						<integer>15</integer>
						<key>DECIMAL</key>
						<true/>
						<key>NUMPLACES</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>Ground Time Max</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<integer>19</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Legs</string>
			<key>keyPath</key>
			<string>numLegs</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>60</string>
				<key>VALUE</key>
				<integer>30</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>Legs</string>
		</dict>
		<dict>
			<key>category</key>
			<integer>20</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Max Legs in a Day</string>
			<key>keyPath</key>
			<string>maxLegsInADay</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>1</string>
				<key>RANGEEND</key>
				<string>15</string>
				<key>VALUE</key>
				<integer>3</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>MLegs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Overlap Days</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>21</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Month Start Overlap</string>
					<key>keyPath</key>
					<string>startDay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>3</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>StartOLap</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>21</integer>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Month End Overlap</string>
					<key>keyPath</key>
					<string>overlapDaysCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>10</string>
						<key>VALUE</key>
						<integer>0</integer>
					</dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>abbreviation</key>
					<string>EndOLap</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<integer>43</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Overnight Average</string>
			<key>keyPath</key>
			<string>ovAvg</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>30</string>
				<key>VALUE</key>
				<integer>15</integer>
			</dict>
			<key>comparison</key>
			<integer>3</integer>
			<key>abbreviation</key>
			<string>OvAvg</string>
		</dict>
		<dict>
			<key>category</key>
			<integer>28</integer>
			<key>type</key>
			<integer>0</integer>
			<key>name</key>
			<string>Overnight Length</string>
			<key>keyPath</key>
			<string></string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>9</string>
				<key>RANGEEND</key>
				<string>47</string>
				<key>VALUE</key>
				<integer>12</integer>
			</dict>
			<key>comparison</key>
			<integer>3</integer>
			<key>abbreviation</key>
			<string>OLength</string>
		</dict>
		<dict>
			<key>category</key>
			<integer>22</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Overnights in Base</string>
			<key>keyPath</key>
			<string>overnightsInBase</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>10</string>
				<key>VALUE</key>
				<integer>0</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>OIBs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Passes Through Base</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>23</integer>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Passes through Base</string>
					<key>keyPath</key>
					<string>passesThruBase</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>10</string>
						<key>VALUE</key>
						<integer>0</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>PTBs</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>23</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Mid-Trip PTBs</string>
					<key>keyPath</key>
					<string>midTripPTBs</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>10</string>
						<key>VALUE</key>
						<integer>0</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>MidPTBs</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Pay</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>24</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Pay</string>
					<key>keyPath</key>
					<string>pay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>50</string>
						<key>RANGEEND</key>
						<string>110</string>
						<key>VALUE</key>
						<integer>80</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>Pay</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>24</integer>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Pay Per Block Hour</string>
					<key>keyPath</key>
					<string>payPerBlockHour</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>1.1</string>
						<key>RANGEEND</key>
						<string>2</string>
						<key>VALUE</key>
						<real>1.3</real>
						<key>STEP</key>
						<real>0.01</real>
						<key>DECIMAL</key>
						<true/>
						<key>NUMPLACES</key>
						<integer>2</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>$/Blk</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>24</integer>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Pay Per Day</string>
					<key>keyPath</key>
					<string>payPerDay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>5</string>
						<key>RANGEEND</key>
						<string>9</string>
						<key>VALUE</key>
						<real>7.5</real>
						<key>STEP</key>
						<real>0.1</real>
						<key>DECIMAL</key>
						<true/>
						<key>NUMPLACES</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>$/Day</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>24</integer>
					<key>type</key>
					<integer>3</integer>
					<key>name</key>
					<string>Pay Per Duty Hour</string>
					<key>keyPath</key>
					<string>payPerDutyTime</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0.6</string>
						<key>RANGEEND</key>
						<string>1.0</string>
						<key>VALUE</key>
						<real>0.8</real>
						<key>STEP</key>
						<real>0.01</real>
						<key>DECIMAL</key>
						<true/>
						<key>NUMPLACES</key>
						<integer>2</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>$/Duty</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>24</integer>
					<key>type</key>
					<integer>4</integer>
					<key>name</key>
					<string>Pay Per Leg</string>
					<key>keyPath</key>
					<string>payPerLeg</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>1.0</string>
						<key>RANGEEND</key>
						<string>3.0</string>
						<key>VALUE</key>
						<real>2</real>
						<key>STEP</key>
						<real>0.1</real>
						<key>DECIMAL</key>
						<true/>
						<key>NUMPLACES</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>$/Leg</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>24</integer>
					<key>type</key>
					<integer>5</integer>
					<key>name</key>
					<string>Pay Per TAFB</string>
					<key>keyPath</key>
					<string>payPerTAFB</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0.2</string>
						<key>RANGEEND</key>
						<string>0.61</string>
						<key>VALUE</key>
						<real>0.4</real>
						<key>STEP</key>
						<real>0.01</real>
						<key>DECIMAL</key>
						<true/>
						<key>NUMPLACES</key>
						<integer>2</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>$/Tafb</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>24</integer>
					<key>type</key>
					<integer>6</integer>
					<key>name</key>
					<string>Carry Out Pay</string>
					<key>keyPath</key>
					<string>carryOutPay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>30</string>
						<key>VALUE</key>
						<integer>0</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>CoPay</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>24</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Line Rig</string>
					<key>keyPath</key>
					<string>lineRig</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>80</string>
						<key>VALUE</key>
						<integer>80</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>Line Rig</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<integer>46</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Red Eye Trips</string>
			<key>keyPath</key>
			<string>redEyeTrips</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>16</string>
				<key>VALUE</key>
				<integer>1</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>RedEyeTrips</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>Report-Release</string>
			<key>category</key>
			<integer>37</integer>
			<key>type</key>
			<integer>0</integer>
			<key>name</key>
			<string>Report-Release</string>
			<key>keyPath</key>
			<string>reportRelease</string>
			<key>variables</key>
			<dict>
				<key>reportValue</key>
				<string></string>
				<key>releaseValue</key>
				<string></string>
				<key>checkStateReport</key>
				<false/>
				<key>checkstateRelease</key>
				<false/>
				<key>VALUE</key>
				<integer>1</integer>
			</dict>
			<key>comparison</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>category</key>
			<integer>25</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>TAFB Hours</string>
			<key>keyPath</key>
			<string>tafbHours</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>280</string>
				<key>VALUE</key>
				<integer>205</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>TAFB</string>
		</dict>
		<dict>
			<key>category</key>
			<integer>26</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Number of Trips</string>
			<key>keyPath</key>
			<string>numTrips</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>19</string>
				<key>VALUE</key>
				<integer>4</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>Trips</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Trip Length</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Turns</string>
					<key>keyPath</key>
					<string>turnsCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>Turns</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Two Day Trips</string>
					<key>keyPath</key>
					<string>twoDayTripsCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>2Days</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>3</integer>
					<key>name</key>
					<string>Three Day Trips</string>
					<key>keyPath</key>
					<string>threeDayTripsCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>3Days</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>5</integer>
					<key>type</key>
					<integer>4</integer>
					<key>name</key>
					<string>Four Day Trips</string>
					<key>keyPath</key>
					<string>fourDayTripsCount</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>15</string>
						<key>VALUE</key>
						<integer>1</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>4Days</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<integer>39</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>WorkBlocks</string>
			<key>keyPath</key>
			<string>workBlock3</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>10</string>
				<key>VALUE</key>
				<integer>0</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>workBlock</string>
		</dict>
		<dict>
			<key>category</key>
			<integer>40</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>WorkBlocks Count</string>
			<key>keyPath</key>
			<string>workBlockCount</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>9</string>
				<key>VALUE</key>
				<integer>3</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>wrkBlkCount</string>
		</dict>
		<dict>
			<key>category</key>
			<integer>27</integer>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>Workdays</string>
			<key>keyPath</key>
			<string>workDays</string>
			<key>variables</key>
			<dict>
				<key>RANGESTART</key>
				<string>0</string>
				<key>RANGEEND</key>
				<string>20</string>
				<key>VALUE</key>
				<integer>12</integer>
			</dict>
			<key>comparison</key>
			<integer>1</integer>
			<key>abbreviation</key>
			<string>Work</string>
		</dict>
	</array>
</dict>
</plist>
