<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>rules</key>
	<array>
		<dict>
			<key>title</key>
			<string>SWAPtimizer</string>
			<key>types</key>
			<array>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Total Pay</string>
					<key>keyPath</key>
					<string>vTotalPay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>50</string>
						<key>RANGEEND</key>
						<string>130</string>
						<key>VALUE</key>
						<integer>80</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>vTotalPay</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Fly Pay</string>
					<key>keyPath</key>
					<string>vFlyPay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>70</string>
						<key>RANGEEND</key>
						<string>110</string>
						<key>VALUE</key>
						<integer>70</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>vFlyPay</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>VA Pay</string>
					<key>keyPath</key>
					<string>vVacationPay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>5</string>
						<key>RANGEEND</key>
						<string>85</string>
						<key>VALUE</key>
						<integer>26</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>vVacPay</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>3</integer>
					<key>name</key>
					<string>Pay Per Block</string>
					<key>keyPath</key>
					<string>vPayPerBlock</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>26</string>
						<key>RANGEEND</key>
						<string>60</string>
						<key>VALUE</key>
						<integer>26</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>v$/blk</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>4</integer>
					<key>name</key>
					<string>Pay Per Day</string>
					<key>keyPath</key>
					<string>vPayPerDay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>10</string>
						<key>RANGEEND</key>
						<string>60</string>
						<key>VALUE</key>
						<integer>26</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>v$/day</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>5</integer>
					<key>name</key>
					<string>Carry Out Fly Pay</string>
					<key>keyPath</key>
					<string>vCarryOutPay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>0</string>
						<key>RANGEEND</key>
						<string>30</string>
						<key>VALUE</key>
						<integer>0</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>vCarryPay</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>10</integer>
					<key>name</key>
					<string>Carry Out VO Pay</string>
					<key>keyPath</key>
					<string>vCarryOutVOPay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>1</string>
						<key>RANGEEND</key>
						<string>30</string>
						<key>VALUE</key>
						<integer>10</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>vCOutVOPay</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>6</integer>
					<key>name</key>
					<string>Block Time</string>
					<key>keyPath</key>
					<string>vBlockTime</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>1</string>
						<key>RANGEEND</key>
						<string>90</string>
						<key>VALUE</key>
						<integer>30</integer>
					</dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>abbreviation</key>
					<string>vBlk</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>7</integer>
					<key>name</key>
					<string>Days Off</string>
					<key>keyPath</key>
					<string>vDaysOff</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>10</string>
						<key>RANGEEND</key>
						<string>31</string>
						<key>VALUE</key>
						<integer>20</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>vOff</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>8</integer>
					<key>name</key>
					<string>Eff. Vac. Length</string>
					<key>keyPath</key>
					<string>vEffectiveVacayLength</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>7</string>
						<key>RANGEEND</key>
						<string>25</string>
						<key>VALUE</key>
						<integer>10</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>vVacayLength</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>13</integer>
					<key>name</key>
					<string>Longest Blk Off</string>
					<key>keyPath</key>
					<string>vLongestBlockofDaysOff</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>7</string>
						<key>RANGEEND</key>
						<string>25</string>
						<key>VALUE</key>
						<integer>10</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>vLongest</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>9</integer>
					<key>name</key>
					<string>Carry Out VA Pay</string>
					<key>keyPath</key>
					<string>vVacayCarryOutPay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>5</string>
						<key>RANGEEND</key>
						<string>30</string>
						<key>VALUE</key>
						<integer>10</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>vVOutPay</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>11</integer>
					<key>name</key>
					<string>Front VO Pay</string>
					<key>keyPath</key>
					<string>vFrontVoPay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>1</string>
						<key>RANGEEND</key>
						<string>20</string>
						<key>VALUE</key>
						<integer>10</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>vFrontVO</string>
				</dict>
				<dict>
					<key>category</key>
					<integer>29</integer>
					<key>type</key>
					<integer>12</integer>
					<key>name</key>
					<string>Back VO Pay</string>
					<key>keyPath</key>
					<string>vBackVoPay</string>
					<key>variables</key>
					<dict>
						<key>RANGESTART</key>
						<string>1</string>
						<key>RANGEEND</key>
						<string>20</string>
						<key>VALUE</key>
						<integer>10</integer>
					</dict>
					<key>comparison</key>
					<integer>3</integer>
					<key>abbreviation</key>
					<string>vBackVO</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
