<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>sorts</key>
	<array>
		<dict>
			<key>title</key>
			<string>SWAPtimizer</string>
			<key>types</key>
			<array>
				<dict>
					<key>name</key>
					<string>Total Pay</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vTotalPay</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vTotalPay</string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Fly Pay</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vFlyPay</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vFlyPay</string>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Vac Pay in BP</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vVacationPay</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vVacationPay</string>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Vac Pay next BP</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vVacayPayNextBP</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vVacPayNext</string>
					<key>type</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Vac Pay both BP</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vVacayPayBothBP</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vVacPayBoth</string>
					<key>type</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Pay Per Block</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vPayPerBlock</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>v$/blk</string>
					<key>type</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Pay Per Day</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vPayPerDay</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>v$/day</string>
					<key>type</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Block Time</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vBlockTime</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vBlk</string>
					<key>type</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>CarryOut Fly Pay</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vCarryOutPay</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vCOutPay</string>
					<key>type</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>CarryOut VO Pay</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vCarryOutVOPay</string>
					<key>ascending</key>
					<true/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vCOutVOPay</string>
					<key>type</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Days Off</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vDaysOff</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vOff</string>
					<key>type</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Eff. Vac. Length</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vEffectiveVacayLength</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vVacayLength</string>
					<key>type</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Longest Blk Off</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vLongestBlockofDaysOff</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vLongest</string>
					<key>type</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>CarryOut VA Pay</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vVacayCarryOutPay</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vVOutPay</string>
					<key>type</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Front VO Pay</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vFrontVoPay</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vFrontVO</string>
					<key>type</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Back VO Pay</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vBackVoPay</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vBackVO</string>
					<key>type</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>vaNE</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vAne</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vaNE</string>
					<key>type</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>vpCu+vaNe</string>
					<key>category</key>
					<integer>5</integer>
					<key>keyPath</key>
					<string>vpCuPlusVaNe</string>
					<key>ascending</key>
					<false/>
					<key>isMutable</key>
					<true/>
					<key>abbreviation</key>
					<string>vpCuPlusVaNe</string>
					<key>type</key>
					<integer>17</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
